In [25]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import os

In [31]:
seq_freq = pd.read_csv("nochim_sequences.csv", index_col=0).transpose()
taxa = pd.read_csv("species_assignment_new.csv", index_col=0)

In [32]:
#merge taxa and seq tables
otu = pd.merge(taxa, seq_freq, left_index=True, right_index=True)

In [33]:
cdiff = otu[otu["Species"]=="difficile"]

In [34]:
cdiff

Empty DataFrame
Columns: [Kingdom, Phylum, Class, Order, Family, Genus, Species, ndc407, ndc408, ndc409, ndc410, ndc411, ndc412, ndc413, ndc414, ndc415, ndc416, ndc417, ndc418, ndc419, ndc420, ndc421, ndc422, ndc423, ndc424, ndc425, ndc426, ndc427, ndc428, ndc429, ndc430, ndc431, ndc432, ndc433, ndc434, ndc435, ndc436, ndc437, ndc438, ndc439, ndc440, ndc441, ndc442, ndc443, ndc444, ndc445, ndc446, ndc447, ndc448, ndc449, ndc450, ndc451, ndc452, ndc453, ndc454, ndc455, ndc456, ndc457, ndc458, ndc459, ndc460, ndc461, ndc462, ndc463, ndc464, ndc465, ndc466, ndc467, ndc468, ndc469, ndc470, ndc471, ndc472, ndc473, ndc474, ndc475]
Index: []

[0 rows x 76 columns]